.cq_content{ width: 1196px; margin: 0 auto;}
.cq_content .rows1{ width: 122px;}
.cq_content .rows2{width: 859px; }
.cq_content .right_operate{width: 202px;}/* 
.p_title{width: 859px;}  */
/* .cq_content{ width: 1276px; margin: 0 auto;}
.cq_content .rows1{ width: 122px;}
.cq_content .rows2{width: 900px; margin-right: 251px;}
.cq_content .right_operate{ width: 244px;}
.cq_content .jt{ right: 301px}
.p_title{width: 900px;} */
.operate_nr .inputborder{ width: 50px;}
.operate_nr .poplayer select{ width: 98px;}
.senior_user_edit {width: 859px;left: 50%;margin-left: -433px;}